@import "../../../constants/css-vars.scss";

.track-container {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  background-color: $base-grey;
  border-radius: 10px;
  .track-text-info {
    display: flex;
    flex-direction: column;
  }
  .track-img-container {
    .track-image {
      max-width: 120px;
      border-radius: 10px;
    }
  }
}
